*{ user-select: none;}

.container { 
  width: 500px;
  height: 1000px;
  perspective: 800px;
}

header, p {
  text-align: center;
  font: 30px Calibri Light;
}

#flipcard {
  margin: 20px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center; 
}

#flipcard div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#flipcard .front {
  background: #9cceff;
}
#flipcard .back {
  background: #9cceff;
  transform: rotateY( 180deg );
}

#flipcard.flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}